{% extends 'base/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="page-header-wrapper">
    <div class="container">
        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
            <h2>Create A Post</h2>
            <div class="devider"></div>
        </div>
    </div>
</div>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.media}}
{{form | crispy}}
<input class="btn btn-success" type="submit" value="Submit Post">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock content %}